body{
    height: 100vh;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),url(img/ordinacija.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 70px;
}
